:root {
  --brown: #967f5d;
  --white: #666666;
  --blue: #5d7496;
  --darkBrown: #60584c; /* #444444; */

  /* --fontMon:"Montserrat", sans-serif; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Gothic', sans-serif;
}
/* @font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/static/Montserrat-Regular.ttf');
} */

.line {
  position: absolute;
  top: 0;
  display: inline-block;
  /* width: 100%; */
  height: 3px;
  /* transition: all 0.5s ease; */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}
.line1 {
  transform: rotate(45deg);
  /* margin-bottom: 1rem */
}
.line2 {
  /* top: 1rem; */
  transform: rotate(-45deg);
  /* margin-bottom: 1rem */
}
.searchIcon {
  display: none;
}
.dropdownSreach {
  font-size: 30px;
}
.readmore {
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

body {
  font-family: 'Century Gothic', sans-serif;
  background-color: #fbfbfd !important;
}
/* .rotateTop{
    transform:rotate(45deg);
    transform:translateY(6)
}
.rotateBot{
    transform:rotate(-45deg);
} */
.css-1jebkij-MuiToolbar-root {
  padding: 0;
}
.links {
  color: var(--white);
  text-decoration: none;
  margin-right: 25px;
  font-size: 14px;
  transition: all 0.2s ease;
}
.links:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1.5px;
}
.navbar {
  transition: all 0.3s ease-in 0s;
}
/* .mainImg{
    background-image: url("../../public/Images/banner.jpg");
    background-size:cover;
    background-position:100%;
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    position:relative;
} */
.sideTree {
  height: auto;
  right: -5%;
}
.readmore:hover {
  border-bottom: 2px solid var(--white);
}
.slick-next {
  right: -10px !important;
}
.slick-prev {
  left: -15px !important;
  z-index: 99;
}
.slick-dots li.slick-active button:before {
  color: var(--blue) !important;
  opacity: 1 !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
  color: var(--brown) !important;
  opacity: 1 !important;
}

.slick-dots {
  position: unset !important;
  margin: 25px 0 0 0 !important;
}
/* EXplore slider */
@keyframes increaseHeight {
  from {
    transform: scaleY(1); /* Start with normal height */
  }
  to {
    transform: scaleY(1.1); /* Increase height by 1.5 times */
  }
}

.explore-slider .slick-center-mode .slick-center {
  transition: all 0.2s ease;
  height: 450px !important;
  animation: increaseHeight 0.5s forwards;
}

.explore-slider .slick-center-mode .slick-center div:first-child,
.explore-slider .slick-center img {
  height: 450px;
  transition: all 0.2s ease;
  /* animation: increaseHeight 0.5s forwards; */
}
.css-11s0zwy-MuiGrid-root > .MuiGrid-item {
  padding-top: 0 !important;
}
.css-t4gpeb-MuiContainer-root {
  padding: 0 !important;
}
.collectionImg {
  width: 88%;
}
.menuBtn:hover {
  background-color: transparent !important;
}

.brandSlider:hover {
  background: var(--blue);
}
.imgRadius {
  border-radius: 70px;
  background-attachment: unset;
}

label + .css-1x0154w-MuiInputBase-root-MuiInput-root {
  width: 100%;
}
.expSlider {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease;
}
.expSlider:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* height:190px;
    width:155px */
}
/* .blogImg {
  width: 70%;
  border-radius: 20px 0 0 20px;
} */
.articleBlog {
  width: 700px;
}
.articleImg {
  width: 500px;
}
.article {
  width: 200px;
}
.latestImg {
  width: 100%;
}
.exploreImges::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(150, 127, 93, 0.1) 0%,
    rgba(150, 127, 93, 0.35) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(150, 127, 93, 0.35)),
    color-stop(100%, rgba(150, 127, 93, 0.1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(150, 127, 93, 0.1) 0%,
    rgba(150, 127, 93, 0.35) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(150, 127, 93, 0.1) 0%,
    rgba(150, 127, 93, 0.35) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(150, 127, 93, 0.1) 0%,
    rgba(150, 127, 93, 0.35) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(150, 127, 93, 0.1) 0%,
    rgba(150, 127, 93, 0.35) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#967F5D', endColorstr='#967f5d',GradientType=0 ); /* IE6-9 */
}

.css-13nykb7-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 10px !important;
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  /* .exploreImges {
    width: 250px;
  } */
  .sideTree {
    /* height:55% ; */
    right: -20%;
  }
}
@media screen and (max-width: 768px) {
  .searchIcon {
    display: block;
  }
  .dropdownSreach {
    display: none;
  }
  .heroText {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60%;
  }
  .aboutMaldives {
    width: auto;
    padding: 0 24px;
  }
  .readmore {
    font-size: 18px;
  }
  .slick-prev {
    left: -4px !important;
    overflow: hidden;
  }
  .slick-slider {
    overflow: hidden;
  }
  .slick-next {
    right: -4px !important;
    overflow: 'hidden';
  }
  svg {
    width: 700px;
    height: 700px;
  }
  .cls-1 {
    fill: '#fff';
    width: '500px';
  }
  .exploreSlider {
    left: 25%;
  }
  .links {
    width: 100%;
    font-size: 24px;
    padding: 15px 0 0 0;
  }
  .sideTree {
    /* height:55% ; */
    right: -35%;
  }
  .imgRadius {
    border-radius: 0px;
    background-attachment: fixed;
  }
  .collectionImg {
    width: 100%;
  }
  /* .blogImg {
    width: 100%;
    border-radius: 20px;
  } */
  .articleBlog {
    width: 100%;
  }
  .articleImg {
    width: 100%;
  }
  .article {
    width: 150px;
  }
  .latestImg {
    width: 100%;
  }

  .svgSparkle {
    width: 100%;
    height: 100%;
  }
}

/* .rightPalm {
  position: absolute;
  top: 140%;
  right: 0;
  z-index: 99;
} */

/* @media screen and (max-width: 480px) {
  .rightPalm {
    top: 400px;
  }
} */

.burger-menu {
  min-width: max-content;
  height: 2rem;
  width: 2.75rem;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  display: inline-block;
}
.burger-menu .bar {
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  background: 'red';
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.burger-menu .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.burger-menu .bar.btmBar {
  top: 5px;
}
.burger-menu.active .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
.burger-menu.active .bar.topBar {
  transform: translateY(6px) rotate(45deg);
}
.burger-menu.active .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
  top: 0;
}
